@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Contador</h1>

<p role="status">Valor atual: @valor</p>

<button class="btn btn-primary" @onclick="incrementa">+</button>

<button class="btn btn-primary" @onclick="decrementa">-</button>

@code {
    private int valor = 0;

    private void incrementa()
    {
        valor++;
    }
    private void decrementa()
    {
        valor--;
    }
}
