@page "/Account/InvalidPasswordReset"
@layout Gestao.Components.Layout.Default.DefaultLayout

<PageTitle>Redefinição de senha inválida</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4 card-bg-fill">
            <div class="card-body p-4">
                <h5>Redefinição de senha inválida</h5>

                <p>
                    O link de redefinição de senha é inválido.
                </p>
            </div>
            <!-- end card body -->
        </div>
    </div>
</div>
