@page "/Account/ResetPasswordConfirmation"
@layout Gestao.Components.Layout.Default.DefaultLayout

<PageTitle>Confirmação de redefinição de senha</PageTitle>



<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4 card-bg-fill">
            <div class="card-body p-4">
                <h5>Confirmação de redefinição de senha</h5>

                <p>
                    Sua senha foi redefinida. Por favor <a href="Account/Login">clique aqui para fazer login</a>.
                </p>
            </div>
            <!-- end card body -->
        </div>
    </div>
</div>
